@import url("https://fonts.googleapis.com/css?family=Asap:400,500,700&display=swap");

body {
    font-family: ASAP, sans-serif;
    font-size: 25px;
    color: #eaf0ff;
    background-color: #1e222b;
    line-height: 1.4;
}

h1 {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 50px;
    color: #212733;
    background-color: #eaf0ff;
    font-weight: bold;
}

#playFields {
    margin-top: 20px;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

#playerWeaponsContainer {
    height: 600px;
    width: 600px ;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#cpuWeaponsContainer {
    height: 600px;
    width: 600px ;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}

.playerWeaponImg, .cpuWeaponImg {
    width: 100px;
    transition: all 0.5s ease-out;
}

.playerWeaponImg:hover {
    transform: scale(1.3) 
}

.playerImgAnimation {
    animation: 3.5s;
    animation-name: playerSelectionAnimation;
    animation-fill-mode: initial;
}

@keyframes playerSelectionAnimation {
    0% {
        transform: scale(1.3);
    }
    25% {
        margin-left: 300px;
        transform: scale(1.8);
    }
    75% {
        margin-left: 300px;
        transform: scale(1.8);
    }
}

.computerImgAnimation {
    animation: 3.5s;
    animation-name: cpuSelectionAnimation;
    animation-fill-mode: initial;
}

@keyframes cpuSelectionAnimation {
    25% {
        margin-right: 300px;
        transform: scale(1.8);
    }
    75% {
        margin-right: 300px;
        transform: scale(1.8);
    }
}

#centerContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    width: 360px;
   
}
 
#roundContentFirst, #liveScore {
    font-weight: bold;
    padding-bottom: 20px;
}

#liveScore {
    letter-spacing: 1rem;
}
